{% extends "layout.twig" %}
{% block content %}
    {% include '_partials/greeting.twig' %}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ path_for('dashboard') }}" class="list-group-item list-group-item-action ">
                    Dashboard
                </a>
                <a href="{{ path_for('repository.my') }}" class="list-group-item list-group-item-action ">Repositories</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% include '_partials/flash.twig' %}
                    <p class="h2">{{ title }}</p>
                    <form class="form" role="form" name="create_text" action="{{ path_for('text.edit', {'id' : fields.id}) }}" novalidate="" method="POST" class="border">
                        {{ csrf.field | raw }}
                        <div class="form-group">
                            <label for="name">Title</label>
                            <input type="text" class="form-control rounded-0{{ errors.title ? ' is-invalid' : '' }}" name="title" id="title" value="{{ fields.title }}">
                            {% if errors.title %}
                                <div class="invalid-feedback">
                                    {{ errors.title | first }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Short description</label>
                            <input type="text" class="form-control rounded-0{{ errors.short_description ? ' is-invalid' : '' }}" name="short_description" id="short_description" value="{{ fields.short_description }}">
                            {% if errors.short_description %}
                                <div class="invalid-feedback">
                                    {{ errors.short_description | first }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="description">Text</label>
                            <div class="medium-text"> </div>
                            <input type="hidden" name="text" class="hidden-medium-text" />
                            {% if errors.text %}
                                <div class="invalid-feedback">
                                    {{ errors.text | first }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <select class="custom-select" name="repository">
                                <option value=""> - Select Repository -</option>
                                {% for repo in repos %}
                                    {% if repo.id == fields.repository_id  %}
                                        <option value="{{ repo.id }}" selected> {{ repo.name }}</option>
                                    {%  else %}
                                        <option value="{{ repo.id }}"> {{ repo.name }}</option>
                                    {% endif %}
                                {% endfor  %}
                            </select>
                        </div>
                        <button type="submit" name="publish" class="btn btn-success float-right " id="publish">Update</button>
                        <button type="submit"  name="draft" class="btn btn-info float-right mr-2" id="draft">Save to Draft</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var content = [
                {% for text in fields.text %}
                    '{{ text }}',
                {% endfor %}
        ].join('\n');
        console.log(content)
    </script>
{% endblock %}

