{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 title">
			<a href="{{ path_for('repository.view', {'id': text.repository_id }) }}">{{ text.repository.name  }}</a><br />
			{{ text.user.firstname }} {{ text.user.lastname }}<br />
			
           <h1 class="d-inline">{{ text.title  }}</h1>
            <input type="hidden" name="text_id" value="{{ text.text_id}}">
            {%  if(auth.check ) %}
                {% if(text.user.id != user.id ) %}
	                {% if(isWatching) %}
	                    <a href="#" data-sub-id="{{ isWatching.id }}" class="btn float-right btn-outline-warning text-unsubscribe"><i class="fa fa-eye-slash" aria-hidden="true"></i> Unwatch</a>
	                {% else %}
	                    <a href="#" data-text-id="{{ text.text_id }}"  class="btn float-right btn-outline-warning text-subscribe"><i class="fa fa-eye" aria-hidden="true"></i> Watch</a>
	                {% endif %}
                {% endif %}
                {% if(text.user.id == user.id ) %}
	                <a class="btn btn-outline-success btn-sm float-right mr-2" href="{{ path_for('text.edit', {'id': text.text_id}) }}">Edit</a>
	            {% endif %}
	           
            {% endif %}
        </div>
        <div class="col-md-12 text ">
            {{ text.text | markdown}}
        </div>

        {% if(diffs) %}
        <div class="col-md-12 changes">
            <h2>Changes:</h2>
                {% for diff in diffs %}
                    {% include '_partials/texts/diff-item.twig' %}
                {% endfor %}
        </div>
        {% endif %}

        {% if(highlights) %}
        <div class="col-md-12 highlights">
            <h2>Highlights:</h2>
                {% for highlight in highlights %}
                    {% include '_partials/texts/highlight-item.twig' %}
                {% endfor %}
        </div>
        {% endif %}

        {% if(comments) %}
	    <div class="col-md-12 comments">
            <h2>Comments:</h2>
                {% for comment in comments %}
                    {% include '_partials/texts/comment-item.twig' %}
                {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">New comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Comment:</label>
                            <textarea class="form-control" id="message-text" rows="10"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary add-comment">Add Comment</button>
                </div>
            </div>
        </div>
    </div>
    {% if(auth.check) %}
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            $('.text').selectionSharer();
        });
    </script>
    {% endif %}
{% endblock %}

