{% extends "layout.twig" %}
{% block content %}
    {% include '_partials/greeting.twig' %}
    
    <div class="row">
        {% include '_partials/flash.twig' %}

                {% if(repos) %}
                    {% for repository in repos %}
                        {% include '_partials/repository/list-item.twig' %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-primary mt-3">
                        <span>There is no repositories</span>
                    </div>

                {% endif %}


        <div class="col-md-12 clearfix d-none">
            <a href="{{ path_for('repository.create') }}" class="btn btn-success float-left"><i class="fa fa-plus" aria-hidden="true"></i> Create</a>
        </div>
	</div>
    
    <div class="row">
        <div class="col-md-12">
            <p class="h1">Recently watched repos:</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Visited</th>
                    </tr>
                </thead>
                <tbody>
                {% for tracking in trackings %}
                    <tr>
                        <th scope="row"> {{ loop.index }}</th>
                        <td> <a href="{{ path_for('repository.view', {id: tracking.repository_id}) }}"> {{ tracking.repository.name }} </a></td>
                        <td>{{ tracking.repository.description }}</td>
                        <td>{{ tracking.created_at | timeDiff }}</td>
                    </tr>
                {% endfor  %}
                </tbody>
            </table>

            <p class="h1">Recently watched texts:</p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Repository</th>
                    <th scope="col">Visited</th>
                </tr>
                </thead>
                <tbody>
                {% for tt in trackings_text %}
                    <tr>
                        <th scope="row"> {{ loop.index }}</th>
                        <td> <a href="{{ path_for('text.view', {id: tt.text_id}) }}"> {{ tt.text.title }} </a></td>
                        <td>{{ tt.text.short_description }}</td>
                        <td><a href="{{ path_for('repository.view', {id: tt.repository.repo_id}) }}">{{ tt.repository.name }}</a> </td>
                        <td>{{ tt.created_at | timeDiff }}</td>
                    </tr>
                {% endfor  %}
                </tbody>
            </table>

            <p class="h1">Recently watched profiles:</p>
            <div class="card-columns mt-3">
                {% if (highlights) %}
                    {% for profile in trackings_profile %}
                        {% include '_partials/dashboard/profile_item.twig' %}
                    {% endfor  %}
                {% else %}
                    <p class="text-center mt-3">No profiles :(</p>
                {% endif %}
            </div>

            <p class="h1">My highlights:</p>
            {% if (highlights) %}
                {% for highlight in highlights %}
                    {% include '_partials/dashboard/highlight_item.twig' %}
                {% endfor %}
            {% else %}
                <p class="text-center mt-3">No highlight :(</p>
            {% endif %}
        </div>
    </div>
{% endblock %}