<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-light menu-popover float-right" data-container="body" data-toggle="popover" data-placement="bottom" data-popover-content="#rep-{{ text.id }}">
            <i class="fa fa-angle-down fa-xs"></i>
        </button>
        <div class="d-none" id="rep-{{ text.id }}">
            <div class="popover-body">
                <a class="btn btn-outline-success btn-sm" href="{{ path_for('text.edit', {'id': text.id}) }}">Edit</a>
                <a class="btn btn-outline-danger btn-sm" href="{{ path_for('text.delete', {'id': text.id}) }}">Delete</a>
            </div>
        </div>
      
        <h5 class="card-title"><a href="{{ path_for('text.view', {'id': text.id }) }}" >{{ text.title }}</a></h5>

  
        <p class="card-text">{{ text.short_description }}</p>
        <p class="card-text"><small class="text-muted">Last updated {{ text.updated_at | timeDiff }}</small></p>
    </div>
</div>