<div class="card changes-item">
    <div class="card-body">
        <h5 class="card-title"><i>{{ comment.user.firstname }} {{ comment.user.lastname }}</i> added {{ comment.created_at | timeDiff }}</h5>
        <blockquote class="blockquote">
            <p class="mb-0">{{ comment.text }}.</p>
        </blockquote>
        <p class="card-text">{{ comment.comment | raw }}</p>
    </div>
</div>