<div class="card recently-watched-profile-item">
    <div class="card-body text-center">
        <p><img src="{{ profile.avatar }}" class="shadow rounded-circle"></p>
        <h4 class="card-title"><a href="{{ path_for('user.profile', {'id': profile.users.id }) }}" >{{ profile.users.firstname }} {{ profile.users.lastname }}</a></h4>
        <p class="card-text"><small class="text-muted">Added {{ profile.created_at | timeDiff }}</small></p>
    </div>
</div>