<div class="col-md-11 ml-3 post-item" data-post-id="{{ post.id }}">
    <div class="repository-item__title clearfix">
        <button type="button" class="btn btn-light menu-popover float-right" data-container="body" data-toggle="popover" data-placement="bottom" data-popover-content="#post-{{ post.id }}">
            <i class="fa fa-angle-down fa-xs"></i>
        </button>
        <div class="d-none" id="post-{{ post.id }}">
            <div class="popover-body">
                <a class="btn btn-outline-danger btn-sm" href="{{ path_for('wall.delete', {'id': post.id}) }}">Delete</a>
            </div>
        </div>
        <small class="float-right"> {{ post.created_at | timeDiff }} </small>

    </div>
    <div class="post-message">
        <p>{{ post.message }}</p>
    </div>
    <div class="post-url-preview clearfix">


    </div>

</div>